 <div id="map" style="width: 100%; height: 100%;">

 <%= content_tag :div, class: "temp_information", data: {temp: @temp} do %>
  <% end %>

 hi <br> there
 <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
 </div>
     <script>
      window.message = "<%= j @polylines %>"
      console.log(window.message)
     </script>

<h1>Activity#index</h1>
<p>Find me in app/views/activity/index.html.erb</p>

first polyline:
<pre>
<%= @polylines.first %>
</pre>
